/Quizes/nbproject/private/
/Quizes/build/
/ToggleDemo/nbproject/private/
/ToggleDemo/build/
/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/TestingFxml/nbproject/private/
/TestingFxml/dist/
/TestingFxml/build/
/SevletsDemo/nbproject/private/
/SevletsDemo/build/
/AdvancedMedia/nbproject/private/
/AdvancedMedia/build/
/Login/nbproject/private/
/Login/build/
/Login/dist/
/BillingSystem/nbproject/private/
/BillingSystem/build/