/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Sep 2020, 9:14:08 PM
    Author     : Kwizera
*/
#labels
{
    -fx-alignment: CENTER_RIGHT;
        -fx-padding:20; 
    -fx-cursor:hand;
    -fx-font-size: 15pt;
    -fx-font-family:Italic;
    -fx-font-weight: bold;
   
}

#labels:hover{
    -fx-background-color: whitesmoke;
    -fx-color: white;
    
    
}
#nav
{
    -fx-background-color:white;
   
}

#close
{
   
   -fx-padding-left: 20;  
-fx-cursor:default
}
#title{
    -fx-background-color:yellowgreen;
    -fx-font-size: 25pt;
    -fx-font-family:"Courier New"; 
    -fx-alignment:CENTER_RIGHT ;
    -fx-end-margin: 0;
    
    
}
#banner
{
    -fx-background-image: url("image/banner.png");
    
}
#text
{
 -fx-font-size: 15pt;
    -fx-font-family:Italic;
    -fx-font-weight: bold;    

}
#border{
      -fx-background-image: url("image/banner.png");
}
#menu
{
   -fx-alignment: CENTER_RIGHT;
        -fx-padding:7; 
    -fx-cursor:hand;
    -fx-font-size: 15pt;
    -fx-font-family:Italic;
    -fx-font-weight: bold;  
}
#menu:hover{
    -fx-background-color: whitesmoke;
    -fx-color: white;
    
    
}
#logout:hover
{
    
}
#table{
    -fx-background-color:yellowgreen;
    -fx-font-size: 25pt;
    -fx-font-family:"Courier New"; 
    -fx-alignment:CENTER_RIGHT ;
    -fx-end-margin: 0;
    
    
}
#signup:hover{
    -fx-cursor:hand;
    -fx-font-size: 15pt;
    -fx-font-family:Italic;
    -fx-font-weight: bold;
}